# OS / IDE
.DS_Store
*.iml
.idea/
.vscode/

# Java / Maven
target/
*.log
*.tmp

# Liquibase
*.lock
liquibase.properties

# Docker / env
infra/.env

# Node (future UI, if any)
node_modules/
dist/
build/

# Misc
*.env
.env*
*.properties

# Visual Studio
.vs/

# Local runtime output
blossombuds-api/logs/
LOG_DIR_IS_UNDEFINED/

# Build artefacts that should not be versioned
blossombuds-frontend.zip
